.App {
  align-items: center;
  background-color: #2f323a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  width: 100%;
}

.App-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

button,
a.btn {
  background-color: #00e0a8;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

button:hover,
a.btn:hover {
  background-color: #00b88a;
}

.btn-sm {
  padding: 0.2rem 0.4rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 0.7rem 1.4rem;
}

.no-scroll {
  overflow: hidden;
}
