.User h3 {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 600;
}

.User p {
  color: rgba(255, 255, 255, 0.7);
}

.User--activated,
.User button {
  margin-top: 1rem;
  width: 100%;
}

.User button {
  padding: 0.5rem 0.75rem;
}
